[user]
email = vincent@example.com
name = Vincent Tan
signingkey = 
[commit]
gpgsign = true
[alias]
s = status
d = diff --ignore-space-at-eol -b -w --ignore-blank-lines
unstage = reset HEAD
undo-commit = reset --soft HEAD^
lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[format]
signOff = true
[help]
autocorrect = 1
[core]
editor = nvim
[pull]
rebase = true
[rebase]
autoStash = true
[push]
gpgSign = if-asked
